openapi: 3.1.0
info:
  title: Raxon Sales & Operations API
  version: 1.0.0
  description: Enterprise API Documentation for Raxon Sales & Operations App.
servers:
  - url: https://api.raxon.com/v1
    description: Production Environment
  - url: https://uat-api.raxon.com/v1
    description: UAT Environment
  - url: https://dev-api.raxon.com/v1
    description: Development Environment

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      summary: User Login
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                password:
                  type: string
                deviceId:
                  type: string
      responses:
        '200':
          description: Successful Login
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
        '401':
          description: Invalid Credentials
          
  /auth/refresh:
    post:
      summary: Refresh Token
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token Refreshed

  /attendance/punch-in:
    post:
      summary: Punch In
      tags: [Attendance]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                latitude:
                  type: number
                longitude:
                  type: number
                selfieUrl:
                  type: string
                timestamp:
                  type: string
      responses:
        '201':
          description: Successfully Punched In

  /mtp/submit:
    post:
      summary: Submit Monthly Tour Plan
      tags: [MTP]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: integer
                year:
                  type: integer
                plan:
                  type: array
                  items:
                    type: object
      responses:
        '201':
          description: MTP Submitted

  /dcr/check-in:
    post:
      summary: Daily Call Check-in
      tags: [DCR]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doctorId:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
      responses:
        '201':
          description: Checked In

  /expense/submit:
    post:
      summary: Submit Expense
      tags: [Expense]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                type:
                  type: string
                receiptUrl:
                  type: string
      responses:
        '201':
          description: Expense Submitted

  /admin/users:
    get:
      summary: Get all users
      tags: [Admin]
      responses:
        '200':
          description: List of Users

  /super-admin/rbac:
    post:
      summary: Create or Update Role Permissions
      tags: [Super Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: RBAC Rules Updated
